name: Sonatype Nexus Deployment

on:
  push:
    branches:
      - main
      - 'release/**'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: 8.0.322+6
          distribution: adopt
          cache: maven
          server-id: sonatype-nexus
          server-username: OSSRH_USERNAME
          server-password: OSSRH_PASSWORD
          gpg-private-key: ${{ secrets.GPG_SECRET }}
          gpg-passphrase: GPG_PASSWORD
      - name: Publish to Sonatype Nexus
        run: ./mvnw clean deploy -Poss-release -B -DskipTests -Dgpg.passphrase=${{ secrets.GPG_PASSWORD }}
        env:
          OSSRH_USERNAME: ${{ secrets.SONATYPE_USER }}
          OSSRH_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          GPG_PASSWORD: ${{ secrets.GPG_PASSWORD }}